<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/angularApp")
    <link rel="stylesheet" href="~/Content/datepicker.min.css" />
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark justify-content-between">
        <span>
            <a class="navbar-brand text-light" href="/Storekeepers/All">Storekeepers</a>
            <a class="navbar-brand text-light" href="/Details/All">Details</a>
        </span>
        <a class="navbar-text" style="color: white; float:right">Author: Alexey Galyuk. linerath@mail.ru</a>
    </nav>

    <div class="body-content" ng-app="MainApp">
        @RenderBody()

        <footer></footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
